language: rust
before_install:
  - wget -O toxiproxy-2.1.4.deb https://github.com/Shopify/toxiproxy/releases/download/v2.1.4/toxiproxy_2.1.4_amd64.deb
  - sudo dpkg -i toxiproxy-2.1.4.deb
  - sudo service toxiproxy start
